<header class="w-full flex items-center justify-between px-4 md:px-8 py-3 md:py-4 bg-white shadow-md">
  <a routerLink="/" class="text-lg md:text-xl lg:text-2xl font-bold text-purple-600 hover:text-violet-700 transition-colors cursor-pointer">MetaAdsAnalyzer</a>
  <ng-container *ngIf="login">
    <a routerLink="/login" class="border border-violet-600 text-purple-600 bg-transparent px-3 md:px-5 py-1.5 md:py-2 
                   rounded-full flex items-center gap-1 md:gap-2 font-semibold hover:bg-violet-50 
                   hover:border-violet-700 hover:text-violet-700 transition-all shadow-sm text-sm md:text-base cursor-pointer">
      <lucide-icon [img]="LogIn" size="18" class="text-purple-600"></lucide-icon>
      <span class="hidden sm:inline text-purple-600">Iniciar sesión</span>
      <span class="sm:hidden text-purple-600">Iniciar sesión</span>
    </a>
  </ng-container>
</header>